.container {
  padding: 3rem 9%;
}

.container .row {
  display: flex;
  flex-wrap: wrap;
  gap: 0;
  border: 0.1rem solid rgb(155, 153, 153);
  height: 90vh;
}

.row .row1 {
  flex: 1 1 45rem;
}

.row .row2 {
  flex: 1 1 45rem;
}

.row .row1 .content {
  height: 90vh;
  padding: 1.5rem;
}

.row .row2 img {
  width: 100%;
  height: 90vh;
}
